body
{
    text-align: center;
}
.logo
{
    align-content: center;
    width:70%;
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
}
.result {
    width: 60%;
}
.jumbotron {
    width: 70%;
    align-content: center;
    margin: auto;
}
.custom-jumbo {
    text-align: center;
    width: 70%;
    margin: auto;
}
.custom-button {
    display: inline-block !important;
}
#last-page {
    width: 50%;
    text-align: center;
    position: relative;
    margin-left: 25%;
}